html,body{
    margin: 0;
    padding:0;
    width: auto;
    height: auto;
    
}
body{
   background:url("https://images2.alphacoders.com/191/191502.jpg");
    margin: 0;
    height: -webkit-fill-available;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}
h1.text-center.text-uppercase.mt-4{
    font-weight: bold;
    color:black;

    text-shadow: 2px 2px 20px white;
}
h1.text-center :hover{
    color: whitesmoke;
}
img.gridimg{
    height: 150px;
    width: 150px;
}
.page {
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 0px;
    transition: .3s;
    box-shadow: 1px 1px 20px white;
    border-radius: 5px;
}
.page:hover{
    transform: scale(1.1);
    background: black;
}
.barra{
    height: 6px;
    margin: 0 auto;
    background: black;
    max-width: 500px;
}
.barra:hover{
    background:whitesmoke;
}
.row{
    flex-wrap: nowrap !important;
    opacity: .85;
    justify-content: center;
    vertical-align: middle;
   
}
.row:hover{
    opacity: 1;
}
.navbar{
    box-shadow: 1px 1px 10px #000000;
    margin: 0;
    border-bottom: 1px solid black;
}
.nav-item{
    text-shadow: 1px 1px 3px white;
}
footer{
    bottom:0;
    width:100%;
    position: absolute;
}
.footer-copyright.text-center{
    background: black;
}
.col-sm-12.py-5 {
    justify-content: center;
    align-items: center;
    display: flex;
}
.m-auto{
    padding-top: 50px; 
}