body{
    margin: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 10px;
}

.page{
    grid-row-end: span 1;
    border-radius: 7px;
    transition: .3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid black;
}

.page img{
    object-fit: cover;
    border-radius: 7px;
}

.page:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.page.ice-cream{
    background-color: aquamarine;
}

.page.glow{
    background-color: chocolate;
}

.page.travels img{
    object-fit: fill;
}