/*
font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Ubuntu', sans-serif;
*/
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	alignment-adjust:center;
	display: auto;
	color:#000;
	background-repeat:space;
	alignment-adjust:central;
	}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.ubicacion{
	text-align:center;
	text-shadow:28px 28px #999;
	font-size:28px;
	font-family: 'Slabo 27px', serif;
	background-image:url(img/background-sobrio-3.jpg)
}
.nav-var{
	background-image:url(img/222.jpg);
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    position: sticky;
    top: 0;
}
.nav-var .menu{
    height: 100%;
    display: flex;
    text-align: center;
    list-style: none;
}
ul,ol{
    margin: 0;
    padding: 0;
}
.nav-var a{
    text-decoration: none;
    padding: 0 .7em;
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
	list-style:none;
	color:#000;
}
.productos{
	padding: 5% 12%;
}
.container-productos{
    display: grid;
    justify-content: center;
    grid-template: repeat(4,auto)/repeat(3,minmax(100px,200px));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    margin-bottom: 50px;
}
.buzos h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
}
.nuestros{
	text-align:center;
	color:#36C;
	
}
.decoration{
  text-align: center;
    margin: 1em 0 .5em;
    text-transform: uppercase;
}

.buzos img{
	 display: flex;
    align-items: center;

}
footer{
    background:	#000
    margin: 0;
    color: #FFF
}

footer p{
    font-size: 14px;
    padding: 0.4em;
    margin: 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
}
